<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "site.css", "data-turbo-track": "reload" %>
  
</head>
<nav class="footer">
  <div >
    <div >

      <div>
        <%= link_to "Privacy Policy", privacy_path %>
      </div>
    </div>
  </div>
</nav>
